* {
  margin: 0;
  padding: 0;
}

.body {
  padding: 16px;
}



.container {
  display: flex;
  gap: 16px;
  margin: 16px;
}


.user{
  border: 1px solid;
  margin: 20px;
  flex: 1;
  padding: 16px;
}